rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /connections/{connectionId} {
      allow read, delete, update: if request.auth != null
        && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.userId;
    }

    match /contacts/{contactId} {
      allow read, delete, update: if request.auth != null
        && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.userId;
    }

    match /messages/{messageId} {
      allow read, delete, update: if request.auth != null
        && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.userId;
    }
  }
}
